* {
  margin: 0;
  padding: 0;
}
form {
  width: 35%;
  height: 50vh;
  margin: 80px;
  padding: 50px;
  /* max-width: 800px; */
  /* background-color: rgb(70, 165, 133); */
}
form input {
  width: 300px;
  height: 30px;
  border-radius: 40px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(0, 3, 8);
}
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #69a8f0;
  outline: none;
}
button {
  width: 80px;
  height: 40px;
  border-radius: 30px;
  background-color:  #69a8f0;
  color:white;
  font-size: 20px;
  border: none;
}

.text {
  text-align: center;
  margin-top: 15px;
}
p {
  margin-top: 20px;
}
